<!DOCTYPE html>
<html>
  <head>
    <title>ruxana's profile</title>\
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
  <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/17202808_1381937755202139_345997508295277919_n.jpg?oh=2637c3881e1636911e44d779e67122ab&oe=594C9322" height="100%" width="100%" alt="ruxana maharjan" />
    <table class="table table-sm table-inverse">
  <thead>
    <tr>
      <th>S.N</th>
        <th scope="row">1</th>
    </tr>
    <tr>
      <th>Name</th>
      <td><%=person.name%></td>
    </tr>
    <tr>
      <th>College</th>
      <td><%=person.college%></td>
    </tr>
    <tr>
      <th>Course</th>
      <td><%=person.course%></td>
    </tr>
    <tr>
      <th>semester</th>
      <td><%=person.semester%></td>
    </tr>
    <tr>
      <th>Contact</th>
      <td><%=person.contact%></td>
    </tr>
    <tr>  
      <th>Facebook profile</th>
      <td><a href='<%=person.fblink%>'>Profile link</a><t>
    </tr>
  </thead>
 
</table>
  </body>
</html>